<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Item Animation Layout - Demo 1</title>
    <meta name="description" content="A responsive, magazine-like website layout with a grid item animation effect when opening the content" />
    <meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style1.css" | relative_url }}">
    <script src="{{ "/assets/js/modernizr.custom.js" | relative_url }}"></script>
</head>
